name: Build & Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ "main" ]


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Pull Paperdaz App
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.SSH_HOST}}
          key: ${{secrets.SSH_KEY}}
          username: ${{secrets.SSH_USERNAME}}
          passphrase: ${{secrets.PASSPHRASE}}
          script: |
            cd paperdaz-app/Paperdaz-2.0
            git pull origin main
            echo 'Pull successful to digital ocean'
            
      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
      - name: Create env file
        run: |
          touch .env
          echo "${{ secrets.ENV_FILE }}" > .env
      - name: Build production bundle
        uses: borales/actions-yarn@v4
        with:
          cmd: generate # will run `yarn build:prod` command
      - name: Finish
        run: |
          rm -r /var/www/test/*
          mv -t /var/www/test/ ./dist/*
          echo 'Deployment successful to digital ocean'
          
